EXPO_PUBLIC_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
EXPO_PUBLIC_API_URL="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

EXPO_PUBLIC_BASE_API_URL="https://xxxxx.xx"

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID="xxxxxxxx-xxxxxxxxxx.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID="xxxxxxxx-xxxxxxxxxx.apps.googleusercontent.com"